/*general element extra specs*/
html, body, .Override.container, .Override .col-md-4, .Override .col-md-8 {
  height: 100%;
  font-family: "proxima-nova", 'Open Sans', sans-serif;
}

.Override *:before, .Override *:after {
  display: none;
}

.Override.container:before {
  display: block;
  float: left;
  height: 100%;
}

.Override .fill {
  color: black;
  position: relative;
}

.Override .fill:after {
  content: '';
  display: block;
  clear: left;
}

.Override .wrapper {
  position: absolute;
  width: 100%;
  min-height: 100%;
  margin-bottom: 2em;
}

.Override .col-md-4 {
  float: left;
  position: static;
  background-color: white;
  box-shadow: 0 0 2px #000000;
}

.Override .col-md-8 {
  position: static;
  background-color: white;
  overflow: auto;
  text-align: center;
}

/*navbar specs*/

#logo {
  margin-left: 5em;
  margin-top: 1em;
}

/*mid bar specs*/
.welcome {
  background-image: url("../assets/pattern.png");
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  height: 10em;
  margin-bottom: 2em;
}

#title-span {
  background-color: rgba(54, 155, 122, 0.67);
  padding: 0 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#centered {
  margin-top: 2em;
}

/*left column element specs*/
ul {
  list-style-type: none;
  margin-left: -20px;
}

a {
  font-size: 20px;
  color: #00c389;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #425563;
}

input[type=checkbox] {
    width: 4em;
    height: 4em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    -webkit-appearance: none;
    outline: 0;
}
input[type=checkbox]:checked {
    background-image: url("../assets/checked.png");
}
input[type=checkbox]:not(:checked) {
    background-image: url("../assets/unchecked.png");
}

.in-bl {
  display: inline-block;
}

.left {
  width: 80%;
  vertical-align: middle;
}

.right {
  vertical-align: middle;
}

/*right column element specs*/
video {
  margin-top: 5em;
  width: 50em;
  height: 40em;
  box-shadow: 0 0 2px #000000;
}

.tc-videoController {
  display: none;
}

#title {
  font-size: 22px;
  color: #425563;
}

#next-button {
  width: 10em;
  height: 2.5em;
  background-color: #ffaa41;
  border-radius: 3px;
  border: 2px solid #ffaa41;
  font-size: 18px;
  color: white;
  letter-spacing: 1px;
}
